* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: fadeIn 3s;
    font-family: 'Bangers';
    background-image: url('../img/christophe-ZGQsHzU5Sls-unsplash.jpg');
    background-repeat: repeat;
    background-size: auto;
}

.app-weather {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

input:active,
input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

.search-box {
    margin-top: 70px;
    width: auto;
    height: 50px;
    border-radius: 35px;
    border: 0;
    font-size: 45px;
    padding: 0 30px;
    font-family: 'Bangers';
    text-align: center;
}

.location {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.location .city {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: bold;
    text-shadow: 2px 5px 2px black;
}

.location .date {
    padding-top: 10px;
    font-size: 30px;
    text-shadow: 2px 5px 2px black;
}

.current {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.current .temp {
    font-size: 150px;
    font-weight: bold;
    text-shadow: 2px 5px 2px black;
}

.current .weather {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 2px 5px 2px black;
}

.current .hi-low {
    padding-top: 10px;
    font-size: 30px;
    text-shadow: 2px 5px 2px black;
}
@media screen and (min-height: 769px) {
    .app-weather {
        margin-top: 100px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
